:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;

  color: #2c1d00;
  text-shadow: 0px 0px 10px #ffffff;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
  width:100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: grid;
  place-items: center;
  background: url("./assets/sunflower.png") no-repeat center;
}


